.details-btn {
    border: 1px soild;
    border-color: black;
    border-radius: 15px;
    font-size: 12px;
}

.product-flex {
    font-weight: 600;
    font-size: 15px;
    color: rgb(141, 140, 140);
}

.product-ViewImg {
    border: 1px solid;
    border-color: black;
    border-radius: 25px;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.product-subImg {
    width: 110px;
    height: 100px;
    cursor: pointer;
    border-radius: 0px;
}

.productview-title {
    font-weight: bolder;
}

.stock {
    color: rgb(0, 255, 13);
}

.rating {
    font-size: 13px;
}

.rating-color {
    color: rgb(255, 208, 0);
}

.product-shortnote {
    font-weight: 500;
    min-width: none;
    max-width: 480px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none !important;
    color: black !important;
}

.nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-body-color);
}

.product-view-details {
    padding-left: 45px;
}

.description-heading:active {
    border-bottom: 1px solid;
    border-radius: 0% !important;
}

.description {
    font-weight: 500;
    min-width: none;
    max-width: 480px;
}

.list-of-description {
    font-weight: 500;
    min-width: none;
    max-width: 480px;
}

.specification-heading:active {
    border-bottom: 1px solid;
    border-radius: 0% !important;
}

.review-heading:active {
    border-bottom: 1px solid;
    border-radius: 0% !important
}

.addi-info {
    font-weight: 500;
}


.amount {
    margin-bottom: 1px !important;
}

.add-to-cart-viewpage-btn {
    border-radius: 25px;
    font-weight: bold;
    padding: 7px 55px;
    margin-bottom: 15px;
    background-color: rgb(133, 2, 255);
    color: white;
}

.shop-now-btn {
    border-radius: 25px;
    font-weight: bold;
    padding: 7px 55px;
    margin-bottom: 15px;
    background-color: rgb(133, 2, 255);
    color: white;
}

.favourities {
    border-radius: 25px;
    font-weight: bold;
    padding: 7px 45px;
    margin-bottom: 15px;
    background-color: rgb(245, 245, 245);
}

.price-section {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    display: block;
}

.price-section-1 {
    display: flex;
    justify-content: space-between;
}

.price-section-2 {
    display: flex;
    justify-content: space-between;
}


.share {
    border-radius: 25px;
    font-weight: bold;
    padding: 7px 45px;
    margin-bottom: 15px;
    background-color: rgb(245, 245, 245);
}

.quantity {
    border: none;
    padding: 0px 20px;

    border-radius: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: rgb(245, 245, 245);
}

.quantity:hover {
    background-color: rgb(245, 245, 245);
}

.quantity-form {
    background-color: rgb(245, 245, 245);
    height: fit-content;
    font-size: 12px;

}

.decrese-btn {
    font-size: 10px;
    height: fit-content;
    background-color: rgb(215, 215, 215);
}

.increse-btn {
    font-size: 10px;
    height: fit-content;
    background-color: rgb(133, 2, 255);
    color: white;
}

.faq-head {
    color: rgb(0, 155, 216);
    font-weight: bolder;
    text-align: center;
    margin-top: 80px;
}

.faq-sub-title {
    text-align: center;
    font-weight: 500;
}

.accordion-body {
    padding: 2% 0% !important;
}

.faq-answers {
    max-width: 700px;
    width: auto;
    font-weight: 300;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}

.accordion-button {
    font-size: 16px !important;
}



.product-id {
    font-weight: 500;
    font-size: 13px;
}

/* color picker*/

.color-selector p {
    font-weight: 500;
}

.color-options {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.color-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.color-circle-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.color-circle.selected {
    border: 1px solid #141414;
}


/* size */

.size-selector .label {
    font-weight: 600;
    margin-bottom: 8px;
}

.size-options {
    display: flex;
    gap: 10px;
}

.size-box {
    padding: 1px 7px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
    color: #333;
}

.size-box.active {
    background-color: #7c3aed;
    /* Purple fill */
    color: white;
    border-color: #7c3aed;
}










/* media qurey */

@media (max-width: 768px) {

    .price-section-1 {
        display: block;
    }

    .price-section-2 {
        display: block;
    }

    .add-to-cart-viewpage-btn {

        padding: 12px 82px;

    }

    .shop-now-btn {
        padding: 12px 87px;
    }

    .favourities {
        padding: 12px 89px;

    }

    .share {
        padding: 12px 106px;

    }

    .quantity {
        padding: 0px 45px;
    }

    .product-subImg {
        width: 60px;
        height: 50px;
        cursor: pointer;
        margin-bottom: 30px;
    }

    .product-view-details {
        padding-left: 15px;
    }
}